@media print {

    pre,
    code,
    var,
    samp,
    kbd,
    tt {
        font-size: 105% !important;

    }

    p {
        font-size: 120% !important;
    }


}

// Retira os icones incorretos dos admonition
@media print {
    .md-typeset .admonition-title::before,
    .md-typeset summary::before {
        visibility: hidden;
    }
}